*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar{
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(210, 210, 210) ;
}
#navbar li{
    display: inline-block;
    padding: 0.5rem;
}
a{
    text-decoration: none;
    color: black;
}
#nav-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#nav-inner h2{
    margin-left: 1rem;
}
#nav-links{
    margin-right: 2rem;
}
.container{
    display: flex;
    padding: 0.5rem 0rem;
}
#search-bar{
    border: 1px solid rgb(210, 210, 210);
    margin: 1rem ;
    padding: 1rem;
}
#search-bar input{
    margin: 0.5rem 0rem;
    box-sizing: border-box;
    border: 1px solid rgb(171, 171, 171);
    width: 12rem;
    padding: 0.4rem;
}
#search-bar input+input{
    margin: 0.5rem 0rem;
    position: absolute;
    border: 0px;
    font-size: 15px;
    color: white;
    background-color: rgb(11, 166, 218);
    width: 4rem;
    padding: 0.4rem;
}
#categories{
    border: 1px solid rgb(210, 210, 210);
    margin: 1rem ;
    padding: 1rem;
}
h4{
    font-size: 22px;
}
#categories li{
    display: block;
    margin: 0.5rem;
}

#tags{
    border: 1px solid rgb(210, 210, 210);
    margin: 1rem ;
    padding: 1rem;
}
#tags-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
#tags-container a{
    font-size: 12px;
    width: 17rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: rgb(225, 222, 222);
    margin: 0.3rem;
    padding: 0.8rem;
    box-sizing: border-box;
    color: rgb(101, 101, 101);
}
#posts-container{
    display: flex;
    flex-wrap: wrap;
}

.post{
    margin: 1.5rem;
    padding: 0.5rem;
    padding-bottom: 4rem;
    width: 25%;
    right: 30%;
    text-align: start;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    box-sizing: border-box;
}
.post img{
    width: 100%;
}
.post a{
    color: rgb(88, 88, 88);
}
.post h3{
    font-size: 20px;
}
.title{
    margin: 1rem 0rem;
}
.none{
    font-size: 16px;
}
.author{
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 0.5rem;
}
.preco{
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 0.5rem;
}
#footer{
    border-top: 2px solid rgb(210, 210, 210) ;
    text-align: center;
    padding: 1rem;
}
#footer p{
    font-size: 13px;
    margin: 0.5rem;
}

@media (max-width: 600px) {
    .container{
        flex-wrap: wrap;
    }
    #posts-container{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .none{
        font-size: 0px;
    }

}